<!DOCTYPE html>
<html lang="it-IT">
  <meta charset="UTF-8">
  <head>
    <title>[Angular] NEGOZIO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <script src="negozio.js"></script>
  </head>

  <body>
  <div ng-app="negozio" ng-controller="negozioController">
    
    <input type="text" ng-model="nome"/>
    <input type="number" ng-model="eta"/>
    <input type="text" ng-model="professione"/>
    <input type="text" ng-model="residenza"/>
    <button ng-click="">Aggiungi</button>
  </div>

</body>
</html>