<br/>
<div style="width:35%">
	<form method="get" action="Index?">
		
		<input type="hidden" name="command" value="insertperson"/>

		<label>Name: </label><input type="text" name="name"/><br/>
		<label>Age: </label><input type="number" name="age"/><br/>
		<label>Profession: </label><input type="text" name="profession"/><br/>
		
		<label>Hobbies: </label><input type="text" placeholder="Comma separated"/><br/>
		
		<!--
		<select name="hobbies" multiple>
		  <option value="Canoa">Canoa</option>
		  <option value="Cruciverba">Cruciverba</option>
		  <option value="Calcetto">Calcetto</option>
		  <option value="Lettura">Lettura</option>
		  <option value="Viaggiare">Viaggiare</option>
		  <option value="Nuoto">Nuoto</option>
		  <option value="Shaolin">Shaolin</option>
		  <option value="Hearthstone">Hearthstone</option>
		  <option value="Poker">Poker</option>
		  <option value="Yoga">Yoga</option>
		</select>
		-->
		
		<input type="submit" value="Insert" class="w3-button w3-blue">	
	
	</form>
</div>