<!DOCTYPE html>
<html lang="it-IT">
  <meta charset="UTF-8">
  <head>
    <title>[Angular] AJAX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="views//w3css.css"/>
    <script src="ajax.js"></script>
  </head>

  <body>
  <div ng-app="ajax" ng-controller="ajaxController">
    
    <div ng-repeat="p in cippirimerlo.people">
    	{{p.name}} {{p.age}} {{p.profession}} <span ng-repeat="hobby in p.hobbies">{{hobby.nome}}&nbsp;</span>
    </div>
  </div>

</body>
</html>